@use 'partials/colors.scss' as c;

body {
    background-color: c.$black;
    color: c.$white;
    font-family: sans-serif;
    padding: 40px;
}

input {
    margin: 10px;
}

canvas {
    display: block;
    float: left;
    margin: 10px;
    padding: 0;
}