:root {
    --c-black: #000;
    --c-darkestgray: #151515;
    --c-darkgray: #4b4b4b;
    --c-gray: #aaa;
    --c-white: #fff;
    --c-green: #169e78;
    --c-green-t: rgba(22, 158, 120, 0.95);
    --b-radius-1: 8px;
    --b-radius-2: 10px;
}

body {
    background-color: var(--c-darkestgray);
    color: var(--c-white);
    font-family: sans-serif;
    font-size: 14px;
    padding: 40px 10px;
}

input,
button,
select {
    background-color: transparent;
    border-radius: var(--b-radius-1);
    border: 2px solid var(--c-white);
    box-sizing: border-box;
    color: var(--c-white);
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    padding: 13px;
    width: 100%;
}

.img-button {
    border: none;
    margin: 0;
    padding: 4px;
}

.img-button img {
    width: 35px;
}

label {
    cursor: pointer;
    display: block;
}

option {
    background-color: var(--c-black);
    color: var(--c-white);
}

select {
    height: 30px;
    padding: 0 10px;
}

.photo-grid {
    padding: 0 0 250px;
    display: grid;
    gap: 10px;
}

.main-message {
    color: var(--c-darkgray);
    font-weight: bold;
    left: 0;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 100%;
}

div {
    box-sizing: border-box;
}

@media (min-width: 1280px) {
    body {
        padding: 40px 20px;
    }

    .photo-grid {
        padding: 0 0 70px;
        gap: 20px;
    }
}
