.input {
    margin: 0 10px 0 0;
    padding: 10px;
}

.inputwrapper {
    position: relative;
}

.button {
    padding-right: 50px !important;
    text-align: left;
}

.remove {
    display: none;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
