.modal {
    background: rgba(0, 0, 0, 0.95);
    border-radius: var(--b-radius-2);
    box-sizing: border-box;
    bottom: 256px;
    display: none;
    left: 0;
    margin: 10px;
    padding: 10px 40px 40px;
    position: fixed;
    right: 0;
    z-index: 2;
}

.modal .close {
    position: absolute;
    right: 16px;
    top: 16px;
}

@media (min-width: 1024px) {
    .modal {
        bottom: 76px;
    }
}
