.dropdownContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.swatchContainer {
    border: 2px solid var(--c-modalcopy);
    display: flex;
    height: 20px;
    margin: 0 auto 4px auto;
    overflow: hidden;
    vertical-align: middle;
    width: 80px;
}

.swatchContainer:hover,
.swatchContainer:active {
    border-color: color-mix(in srgb, var(--c-modalcopy) 40%, #fff);
}

.swatchColorBlock {
    width: 25%;
    height: 100%;
}

.radioInput {
    display: none;
}

.label {
    display: block;
    margin: 4px;
    cursor: pointer;
    text-align: center;
}
