.toolbar {
    background: var(--c-green-t);
    border-radius: var(--b-radius-2);
    bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: var(--c-white);
    left: 10px;
    padding: 10px;
    position: fixed;
    width: calc(100% - 20px);
    z-index: 2;
}

.blur {
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    mask: linear-gradient(to bottom, transparent, white 90%);
    backdrop-filter: blur(5px);
}

.logo {
    display: block;
    font-weight: bold;
    color: var(--c-white);
    text-align: center;
}

.toolbar .toolbaritem {
    display: block;
    margin: 0 0 10px;
    width: 100%;
}

button.settingsbutton {
    display: block;
    text-align: center;
    width: 100%;
}

@media (min-width: 1280px) {
    .toolbar .toolbaritem {
        display: block;
        float: left;
        margin: 0 10px 0 0;
        max-width: 250px;
    }

    .logo {
        float: right;
        margin: 14px 40px 0;
        font-weight: bold;
        color: var(--c-white);
    }

    button.settingsbutton {
        width: auto;
    }
}
