body {
background-color: #000;
color: #fff;
font-family: sans-serif;
}

.files {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 14px;
    float: left
}

button {
    margin: 10px;
    padding: 13px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 14px;
    float: left;
}
.dropdownContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    margin: 10px 5px;
    padding: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #444;
    border-radius: 4px;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 10;
}
label {
    display: block;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.radioInput {
    display: none;
}

.swatchContainer {
    width: 100px;
    height: 24px;
    margin: 0 auto 5px auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 2px;
    display: flex;
}

.swatchColorBlock {
    width: 25%;
    height: 100%;
}
